.App {
  text-align: center;
  flex-direction: column;
}

img {
  width: 100%;
}

.media {
  margin-top: 5%;
  padding: 0;
  background-color: cadetblue;
}

.media .video-react {
  padding-top: 30% !important;
  margin: 2% 20% !important;
  width: auto !important;
}

.media p {
  padding-top: 3%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(18px + 4vmin);
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(3px + 2vmin);
  color: white;
}

.img-download img {
  margin-top: 20%;
}

.img-links img {
  margin-top: 20%;
}

.networks-ban img {
  margin: 20% 0;
}

.networks-ban h2 {
  font-size: calc(18px + 3vmin);
  margin-top: 1%;
}

.networks-ban {
  margin: 5%;
  background-color: wheat;
  border-radius: 25px;
  color: black;
}

.form {
  margin: 5%;
  border-radius: 25px;
  color: black;
}

.form .title {
  font-size: calc(18px + 3vmin);
  margin-top: 0;
  margin-bottom: 5%;
  width: 100%;
}

.chars  {
  margin: 5%;
  padding: 10%;
  border-radius: 25px;
  border-style: groove;
  justify-content: center !important;
  color: black;
}

.chars h3 {
  margin-top: -10% !important;
  padding-bottom: 15% !important;
}

.footer {
  padding: 1%;
  background-color: #1B396A;
}

.footer span {
  color: #d9d9d9; 
  opacity: 0.5;
}

.App-link {
  color: #61dafb;
}

a:hover {
  text-decoration: none;
}

input, textarea, select {
  width: 100%;
  padding: 5px;
}
input[type=submit] {
  width: 100%;
  margin-top: 20%;
}

label {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

.contenedorGobierno {
  z-index:1000;
  position: relative;
}

.container-cabecera {
  padding-bottom:30px;
  background-color: white;
}

.container-cabecera img{
  width: auto;
  
}

.no-gutters .col-md-12{
  max-width:60%;
}

#pleca_1 {
  z-index:2001;
}

#pleca_2 {
  z-index:2001;
}

#pleca_3 {
  z-index:2001;
}

.plecaTECNM {
  width:17% !important;
  height:auto; 
  min-width:70px;
}

.contenedorAccesibilidad{
  z-index:2000; 
  top: 5%;
  right: 10%;
  position: absolute;
  width: 35%;
}

.idiomas a img{
  height:6%;
  width:6%;
}

.contraste svg{
  height: 1em;
}

.contraste, .aumentaLetra, .reduceLetra, .resetLetra{
  color:#1B396A;
}